.tenant-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end; /* Butonun diğerleriyle hizalanması için */
}

.tenant-list {
  list-style-type: none;
  padding: 0;
}

.tenant-list li {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.tenant-list li:last-child {
  border-bottom: none;
}

.tenant-list strong {
  display: block;
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}

.tenant-list small {
  color: #777;
  font-size: 14px;
  margin-right: 15px;
}